{% import "macro/menu.html" as menu %}
{% import "macro/header.html" as header %}
{% import "macro/footer.html" as footer %}
<!doctype html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="msapplication-TileColor" content="#0061da">
		<meta name="theme-color" content="#1643a3">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<link rel="icon" href="favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

		<!-- Title -->
		<title>{{ name }} | {{ app_name }}</title>
		
		<!-- Dashboard css -->
        <link href="{{ url_for('static', filename='assets/css/dashboard.css') }}" rel="stylesheet" />
		
		<!-- Font family -->
		<link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">
		
		<!--C3 Charts css -->
        <link href="{{ url_for('static', filename='assets/plugins/charts-c3/c3-chart.css') }}" rel="stylesheet" />

        <!-- Custom scroll bar css-->
        <link href="{{ url_for('static', filename='assets/plugins/scroll-bar/jquery.mCustomScrollbar.css') }}" rel="stylesheet" />

		<!-- Sidemenu css -->
        <link href="{{ url_for('static', filename='assets/plugins/toggle-sidebar/sidemenu.css') }}" rel="stylesheet" />

        <!---Font icons css-->
        <link href="{{ url_for('static', filename='assets/plugins/iconfonts/plugin.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='assets/fonts/fonts/font-awesome.min.css') }}" rel="stylesheet" />
		
	</head>
	
	<body class="app sidebar-mini rtl">
		
		<!--Global-Loader-->
		<div id="global-loader"></div>
		
		<div class="page">
			<div class="page-main">

				{{header.build_site_header(app_name)}}
							
                {{menu.build_site_navigation(pages=pages, selected="Home")}}
                
				<!-- app-content -->
				<div class="app-content  my-3 my-md-5">
					<div class="side-app">
					</div>
				</div>
				<!-- app-content end-->
			</div>

			{{footer.build_site_footer()}}
		</div>
		<!-- End Page -->
		
		<!-- Back to top -->
		<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

		<!-- Jquery js-->
        <script src="{{ url_for('static', filename='assets/js/vendors/jquery-3.2.1.min.js') }}"></script>
		
		<!--Bootstrap js-->
        <script src="{{ url_for('static', filename='assets/js/vendors/bootstrap.bundle.min.js') }}"></script>
		
		<!--Jquery Sparkline js-->
        <script src="{{ url_for('static', filename='assets/js/vendors/jquery.sparkline.min.js') }}"></script>
		
		<!-- Chart Circle js-->
        <script src="{{ url_for('static', filename='assets/js/vendors/circle-progress.min.js') }}"></script>
		
		<!-- Star Rating js-->
        <script src="{{ url_for('static', filename='assets/plugins/rating/jquery.rating-stars.js') }}"></script>

		<!-- Side-menu js-->
        <script src="{{ url_for('static', filename='assets/plugins/toggle-sidebar/sidemenu.js') }}"></script>

		<!-- Custom scroll bar js-->
        <script src="{{ url_for('static', filename='assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js') }}"></script>

		<!-- Custom js-->
        <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
		
	</body>
</html>